.main-page {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}
